$wrapper: 800px;

html {
	margin: 0;
	padding: 0;
	nav {
		.wrapper {
			width: $wrapper;
			margin: 0 auto;
		}
	}
	.sidebar {
		height: 100%;
		width: 250px;
	}
	.main-bg {
		display: flex;
		width: 100%;
		.main {
			flex-grow: 1;
			width: 100%;
			.colored-box {
				background-color: #00ff00;
		    width: 20%;
		    float: left;
		    border: 1px;
		    height: 0;
		    padding-bottom: 20%;
		    box-sizing: border-box;
			}
		}
	}
}
